from enum import IntEnum
from output import basics


class {{ enum.attrib.name }}({{ enum.attrib.storage | to_basic_type }}, IntEnum):
    """{{ enum.text | escape_backslashes | trim }}"""
{% for option in enum.iter('option') %}
    {%- if option.text %}
    # {{ option.text | escape_backslashes | trim }}
    {%- endif %}
    {{ option.attrib.name | enum_name }} = {{ option.attrib.value }}
{%- endfor %}
